.container {
  position: relative;
  color: white;
  margin-top: 40px;
  
  
}

.title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.title h2{
  font-size: 2.6rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.hero-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  filter: brightness(0.7) contrast(0.9);
}

@media screen and (max-width: 960px) {
  .title {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .container {
    margin-top: 15px;
  }
}
