* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-wrapper{
  margin: 0 50px;
}

.recipes-wrapper{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.no-content { 
  font-family: 'Cormorant Garamond', serif;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
}

.uil-heart-break{
  padding-bottom: 30px;
  color: red;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  .content-wrapper {
      margin: 0 20px;
    }
    .recipes-wrapper {
      margin-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
}
@media screen and (max-width: 720px) {
  .recipes-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px
    }
}